@use './config.scss';
@use './function.scss';

@mixin go($block) {
  $B: $namespace + '-' + $block;
  .#{$B} {
    @content;
  }
}

@mixin goId($block) {
  $B: $namespace + '-' + $block;
  ##{$B} {
    @content;
  }
}

@mixin deep() {
  :deep() {
    @content;
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

//获取背景颜色
@mixin fetch-bg-color($target) {
  @include themeify {
    background-color: themed($target);
  }
}

//获取背景渐变颜色
@mixin background-image($target) {
  @include themeify {
    background-image: themed($target);
  }
}

//设置边框颜色
@mixin fetch-border-color($target) {
  @include themeify {
    border-color: themed($target);
  }
}
@mixin hover-border-color($target) {
  @include themeify {
    border: 1px solid themed($target);
  }
}
